* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
}

.square {
    height: 16px;
    width: 16px;
    background: #1d1d1d;
    margin: 2px;
    box-shadow: 0 0 2px #000;
    transition: 2s ease;
}

.square:hover {
    background: red;
}
